.successPageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background: #0973FC;
    color: white;
}

.successPageContainer h1 {
    font-weight: 1000;
    font-size: 8rem;
}

.successPageContainer a {
    text-decoration: underline;
    color: blue;
}

.banner {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-top: -200px;
}

.banner img {
    width: 50rem;
}